<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>User Directory Home</title>
</head>

<body>
    <nav>
        <a class="navLink" href="/">Home</a>
        <a class="navLink" href="/employed">Currently Employed</a>
        <a class="navLink" href="/unemployed">Available for Work</a>
    </nav>
    <h1>Index</h1>
    <div class="containerParent">
        <div class="container">
            {{#users}}
            <div class="info">
                <img class="avatar" src="{{avatar}}"></img>
                <p><a href="/{{_id}}" class="indexName">{{name}}</a></p>{{#job}}
                <p class="indexJobCompany">{{job}}, {{company}}</p>{{/job}} {{^job}}
                <p style="color: #c87a74">Available for hire</p>
                {{/job}}
            </div>
            {{/users}}
        </div>
    </div>

</body>

</html>