<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>{{user.name}}'s Profile</title>
</head>

<body>
    <nav>
        <a class="navLink" href="/">Home</a>
    </nav>
    {{#user}}
    <h1>Individual Bios</h1>
    <div class="individualContainerParent">
        <div class="individualContainer">
            <img class="image" src="{{avatar}}"></img>
            <div class="indContain">
                <p class="name">{{name}}</p>
                {{#address.city}}
                <p class="city">{{address.city}}, {{address.country}} | {{#job}}{{job}}, {{company}}{{/job}}{{^job}}<span style="color: #c87a74"> Available for hire{{/job}}</p>
                    {{/address.city}}{{^address.city}}
                    <p class="no-city"> {{address.country}} | {{#job}}{{job}}, {{company}}{{/job}}{{^job}}<span style="color: #c87a74">Available for hire</span>{{/job}}
                </p>{{/address.city}}



                <p class="email">{{email}} | {{phone}}</p>


                {{#university}}
                <p class="university" style="font-weight: 900">Education<span style="font-weight: 300"> &emsp;{{university}}</span></p>{{/university}} {{^university}}{{/university}}
                <p class="skills" style="font-weight: 900">Skills<span style="font-weight: 300"> &emsp;{{skills}}</span></p>
            </div>
        </div>


    </div>


    {{/user}}
</body>

</html>