body {
    margin: 0;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.containerParent {
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 220px;
    background-color: white;
}

.info {
    border: 1px solid gray;
    margin: 15px 5px;
    width: 200px;
    height: auto;
    text-align: center;
}

.indexName {
    color: #5f93d1;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 3px;
}

.indexJobCompany {
    font-size: .9rem;
    color: gray;
    padding: 3px;
}

.individualContainer {
    margin: 0 220px;
    background-color: white;
    padding: 1px;
}

.indContain {
    width: 775px;
    text-align: left;
}

.image {
    border: 1px solid lightgray;
    border-radius: 50%;
    float: left;
    margin: 24px;
    width: 150px;
}

.name {
    font-size: 3rem;
    margin-bottom: 1px;
    margin-right: 100px;
    margin-top: 21px;
}

.city .no-city {
    margin-right: 100px;
}

.email {
    margin-right: 120px;
    margin-bottom: 67px;
    margin-top: -8px;
}

.university {
    margin-left: 100px;
}

.skills {
    margin-left: 134px;
    margin-bottom: 70px;
}

nav {
    display: flex;
    justify-content: center;
}

.navLink {
    text-align: center;
    color: #5f93d1;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px;
}